body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #50c878;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #35a55d 3px solid;
}

header h1 {
    float: left;
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

#banner {
    min-height: 400px;
    background: url('../images/product1.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #fff;
}

#banner .gallery {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

#banner .gallery img {
    width: 30%;
    border: 5px solid #fff;
}

#products {
    padding: 20px 0;
    background: #fff;
}

#products h2 {
    text-align: center;
    margin-bottom: 20px;
}

.product-info {
    text-align: center;
    line-height: 1.6;
}

footer {
    background: #35a55d;
    color: #fff;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}
